.top{
  background-color: #E4F9F5;
  padding: 100px;
  position: relative;
}
body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  line-height: 2;


}

.h1{
  color: #66BFBF;
  margin: 50px auto 0 auto;
font-size: 5.625rem;
font-family: 'Sacramento', cursive;
}
h2{
  font-weight: normal;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;

}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  position: absolute;
  bottom: 400px;
  left: 300px
}
.image{
  width: 200px;
  margin-top: 100px;;
}
.skill-row{
  margin: auto;
  width: 50%;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
  
  font-weight: bold;
}
.text{
  margin: none 50px 100px none;
}
.computer{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chilli{
  width: 25%;
  float: right;
  margin-left: 30px;
}
hr{
  border: dotted #83a8a8;
  border-bottom: 0px;
 border-width: 6px;
 width: 5%;
}
.para{
  margin-bottom: 50px;
}
.h{
  margin-top: 70px;
  margin-bottom: 10px;
}
.p2{
  width: 40%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

  .btn {
    
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
    background-image: -o-linear-gradient(top, #11CDD4, #11999e);
    background-image: linear-gradient(to bottom, #11CDD4, #11999e);
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    border-radius: 50px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .bottom{
    margin-top: 70px;
    background-color: #66BFBF;
    padding: 50px 0 25px;
  }
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
}
